/* Le reset en premier pour nonifier border,padding et les list-type*/
@import url(./commons/reset.css);
/* Un Normalize importé d'un github : "@import url(reset.css);" pour assurer le fonctionnement sur un maximum de navigateurs */
@import url(./commons/normalize.css);
/* Importation des polices */
@import url(./commons/font.css);
/* style header */
@import url(./commons/styleHeader.css);
/* style footer */
@import url(./commons/styleFooter.css);



/* Nommer les couleurs pour facilement les réutiliser et faciliter l'écriture du code */
:root {
    --blanc_casse : #F3e2c5;
    --marron : #420d09;
    --orange : #FFB11C;
}

main *{
    color: black;
}

main{
    width: 100vw;
}

                            /***************************
                                    Page Profil
                            ****************************/

main section, main form{
    /* version 640px de l'image */
    background-image: url(./assets/Img/parcho-profil_sml.jpg);
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: center center;
    margin: 4% 4%;
    padding: 4% 2%;
    display: flex;
    flex-direction: column;
    border-radius: 7vw;
}

.h1White{
    color: var(--blanc_casse);
    font-family: 'BlackChancery';
    text-align: center;
}

.titre{
    text-align: center;
    font-family: Morris;
    margin: 4% 0;
}

#profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#infosCompte{
    display: flex;
    /* Deux prochaines règes pour prévoir responsif avec desktop (gérer les tailles des div class="blocinfo") */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titre{
    width: 100%;
}

#profile{
    width: 80%;
    height: auto;
}

.pseudo{
    font-size: 1.8em;
    font-family: 'BlackChancery';
    text-align: center;
    margin: 5% 0;
}

.profile-pic-container img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.blocInfo, .blocDescription{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10%;
    border-radius: 2vw;
    padding: 2% 2%;
}

.blocDescription{
    max-height: 3em;
    margin: 2% 1%;
    padding: 1% 1%;
}

.sousTitre{
    font-family: Morris;
    font-size: 1.4em;
    margin-bottom: 3%;
    width: 100%;
    text-align: center;
}

.lienForm{
    width: 50%;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanc_casse);
    border-radius: 1em;
    &:hover{
        color: var(--marron);
        background-color: var(--orange);
        transition: 0.2s ease-in-out;
        color: var(--marron);
    }
}

p{
    font-size: 1.1em;
}

@media screen and (min-width: 768px) {
    main section, main form{
        /* version 640px de l'image */
        background-image: url(../assets/Img/parcho-profil_big.jpg);
    }

    .titre{
        font-size: 2.5em;
    }

    .sousTitre{
        margin-bottom: 1%;
        font-size: 2em;
    }
    .jeu{
        margin-bottom: 1%;
    }

    .pseudo{
        font-size: 2em;
    }
    p{
        font-size: 1.5em;
    }

    #descriptions{
        width: 100%;
    }
    .lienForm{
        height: 0%;
        font-size: 1.5em;
        padding: 1% 1%;
        width: 40%;
    }

}

@media screen and (min-width: 1024px) {


    #profile-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #profile-container, #infosCompte{
        margin: 2.5%;
        padding: 1% 1%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .titre{
        font-size: 1.5em;
        width: 75%;
    }

    .sousTitre{
        margin-bottom: 1%;
        font-size: 1.1em;
    }

    .blocInfo, .blocDescription{
        margin: 0 0 1% 0;
        height: unset;
        padding: 1%;
    }



    .jeu{
        margin-bottom: 1%;
    }

    .pseudo{
        font-size: 1.5em;
        font-family: 'BlackChancery';
        text-align: center;
        margin: 2.5%;
    }

    p{
        font-size: 1em;
    }

    .lienForm{
        margin-top: 5%;
    }
}


/***************************************************************************************************************
                                Page modification

***************************************************************************************************************/

.descriptionContainer{
    display: flex;
    flex-direction: column;
}

.descriptionContainer textarea{
    max-height: 10%;
    overflow-y: scroll;
}

textarea, input{
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.5%;
    color: white
}

textarea::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-size: 70%;
}

input{
    margin-bottom: 2%;
}


main .lienForm:last-of-type{
    margin: 5% 25% 3% 25%;
}

@media screen and (min-width : 1024px){
    main .lienForm:last-of-type{
        margin: 1% 25% 1% 25%;
    }
}

/***************************************************************************************************************
                                Page Recherche

***************************************************************************************************************/

.hidden{
    display: none;
}

#bubble{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1%;
}

#bubble-desktop{
    display: none;
}

.profile-pic-container{
    max-width: 50%;
}

#profilRecherche .blocInfo{
    width: 80%;
    margin: 1% 1%;
}

#resultatRechercheDroite{
    display: none;
}

select{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.5%;
    color: white;
}

@media screen and (min-width: 768px) {

    .h1White{
        font-size: 2.5em;
    }

    #filter-container{
        margin: 2% 1%;
        padding: 3%;
    }

    #filter-container h2{
        margin-bottom: 2%;
    }

    #filter-container select{
        height: 2em;
    }

    #player-filters, #table-filters{
        padding:  1%;
        margin: 1%;
    }

    #category, #player-filters div label, #player-filters div input, #player-filters div select{
        font-size: 1.5em;
        margin: 0.5%;
    }

    #btnLancerRecherche{
        margin: 0;
        font-family: 'BlackChancery';
        align-self: center;
    }

    .blocInfo label, blocInfo p{
        font-size: 2em;
    }

    #profilRecherche{
    padding: 2%;
    }
}

@media screen and (min-width: 1024px) {

    #bubblePhone{
        display: none;
    }

    #bubbleDesktop{
        display: block;
        margin-left: 85%;
    }

    #profilRecherche{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #filter-container {
        padding: 2%;
    }

    #filter-container h2{
        font-size: 1.5em ;
    }

    #category{
        font-size: 1em;
    }

    #player-filters div label, #player-filters div input, #player-filters div select{
        font-size: 1em;
        margin: 0.5%;
    }

    #profilRecherche .blocInfo {
        width: 80%;
        justify-content: center;
    }

    .blocInfo label, blocInfo p{
        font-size: 1.5em;
    }

    #profilRecherche{
    padding: 2%;
    }
    
    h1{
        font-size: 1.5em;
    }

    /* H1white sur la fin du code car touche plusieurs titres dans différentes page */
    .h1White{
        font-size: 1.5em;
    }

    .sousTitre{
        font-size: 1.2em;
    }

    #resultatRechercheGauche {
        text-align: center;
        width: 35%;
    }

    #resultatRechercheGauche div:first-of-type{
        width: 100%;
    }

    #jeux p{
        margin: 1% 0;
    }

    #resultatRechercheGauche div:first-of-type .blocInfo{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #resultatRechercheDroite {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 60%;
    }

    #resultatRechercheDroite p{
        text-align: justify ;
    }
    #resultatRechercheDroite label{
        margin: 1% 0;
        font-family: Morris;
        font-weight: bold;
    }


}