/* Le reset en premier pour nonifier border,padding et les list-type*/
@import url(./commons/reset.css);
/* Un Normalize importé d'un github : "@import url(reset.css);" pour assurer le fonctionnement sur un maximum de navigateurs */
@import url(./commons/normalize.css);
/* Importation des polices */
@import url(./commons/font.css);
/* style header */
@import url(./commons/styleHeader_signedIn.css);
/* style footer */
@import url(./commons/styleFooter.css);



/* Nommer les couleurs pour facilement les réutiliser et faciliter l'écriture du code */
:root {
    --blanc_casse : #F3e2c5;
    --marron : #420d09;
    --orange : #FFB11C;
}

main, main form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
main form{
    margin-top: 5%
}

#profileTable{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3% 3%;
}


.imgContainer{
    width: 30%;
    height: auto;
}

.imgContainer img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

h1,h2{
    font-family: 'BlackChancery';
}

#sumupContainer{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1em;
    padding: 1.5% 1.5%;
    max-height: 14em;
    overflow-y: auto; 
    margin-bottom: 5%;
    width: 90%;
}

#sumupContainer h2{
    font-family: Morris;
    color: red;
    margin-bottom: 5%;
}


#joueursPresents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    overflow-x: auto;
}

#joueursPresents div{
    width: 12%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 14px;
}

/* ******************************
Page de modification d'une table
******************************** */

/* Pour l'accessibilité */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    white-space: nowrap; /* Ajout pour empêcher le contenu de s'enrouler */
}


form input{
    color: black;
}

form #profile-table{
    display: flex;
    flex-direction: column;
}
form #profile-table #img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre{
    margin: 5% 0;
}

#profileTableDroite h2{
    margin: 5% 0;
}


form #tableAvatar{
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

form #tableAvatar input{
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;
}


#description{
    width: 90%;
    align-self: center;
    color: black;
}

form button{
    width: 50%;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 5vw;
    font-family: '';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}
form button:hover{
    background-color: var(--orange);
    transition: 0.2s ease-in-out;
    color: var(--marron);
}

#calendrierContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#titreDescription{
    margin: 5% 0;
}

#calendrierContainer #calendrierHoraire{
    margin: 10% 0;
}

@media (min-width: 767px){

    form button{
        font-size: 2em;
        width: auto;
        height: auto;
        padding: 5%;
    }
}