/* Le reset en premier pour nonifier border,padding et les list-type*/
@import url(./commons/reset.css);
/* Un Normalize importé d'un github : "@import url(reset.css);" pour assurer le fonctionnement sur un maximum de navigateurs */
@import url(./commons/normalize.css);
/* Importation des polices */
@import url(./commons/font.css);
/* style header */
@import url(./commons/styleHeader.css);
/* style footer */
@import url(./commons/styleFooter.css);



/* Nommer les couleurs pour facilement les réutiliser et faciliter l'écriture du code */
:root {
    --blanc_casse : #F3e2c5;
    --marron : #420d09;
    --orange : #FFB11C;
}

h1{
    align-self: center;
    font-family: 'BlackChancery';
    color: var(--blanc_casse);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
#liens{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#liens a{
display: flex;
width: 80%;
height: 10%;
align-items: center;
justify-content: center;
background-color: rgba(0, 0, 0, 0.3);
box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.3);
border: 1px solid rgba(255, 255, 255, 0.3);
font-family: Morris;
color: var(--blanc_casse);
margin: 5% 5%;
padding: 1% 1%;
font-size: calc(20px + 2vw);

    &:hover{
        background-color: var(--orange);
        transition: 0.2s ease-in-out;
        color: var(--marron);
    }
}

@media screen and (min-width: 768px) {
    #liens a{
        width: 35%;
    }
  }